$background-color: 		rgb(49, 49, 49);

$black:					#000;
$white:					#fff;

$grey-color-darker: 	#eee;
$grey-color-dark: 		#ddd;
$grey-color-normal: 	#aaa;
$grey-color-light: 		#666;
$grey-color-lighter: 	#333;
$grey-color-lightest: 	#111;

// $grey-color-darker: 	#111;
// $grey-color-dark: 		#333;
// $grey-color-normal: 	#666;
// $grey-color-light: 		#aaa;
// $grey-color-lighter: 	#ddd;
// $grey-color-lightest: 	#eee;

$primary-color:			#007be0;
$link-color-hover:      #59b3fc;
$link-color-normal:     #2491eb;

$facebook-brand-color:	#3b5998;
$twitter-brand-color:	#55acee;

$default-width:			1100px;
$on-tablet:				768px;
$on-smaller-tablets:    640px;
$on-phone:				480px;

$burger-cell-height:    2px;